@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    text-align: center;
    background-color: rgba(159, 202, 229, 1);
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
 a{
    color:black;
    text-decoration: none;
} 

 a:hover {
    text-decoration: underline;
} 

a:active {
    color:blue;
}

a:visited {
    color:grey;
}

.logo {
    width: 200px;
}

.info-text {
    margin-left: 40px;
}

.video {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.info-href {
    padding: 15px 20px 30px 40px;
    margin: 20px;
    text-align: center;
}